body {
    background-color: aliceblue;
    width: 900px;
    margin: auto;

}
p {
    color: red;
    font-size: larger;
    width: 300px;
    font-size: larger;
    text-align: justify;
    border: 5px solid black;
}